#page-give-classes #container{
    width: 100vw;
    height: 100vh;    
}

#page-give-classes .header-content{
    margin-bottom: 6.4rem;
}

#page-give-classes main{
    background: var(--color-box-base);
    width: 100%;
    max-width: 74rem;
    border-radius: .8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 6.4rem;
}

#page-give-classes fieldset+fieldset{
    margin-top: 6.4rem;
}

/*DUVIDA AQUI: SE ESTIVER UM 3 ELEMENTO ELE VAI PEGAR AS DEFINIÇÕES TAMBÉM? */

#page-give-classes .input-block+.input-block, /*pega o input-block que vem logo depois de outro input-block*/
#page-give-classes .textarea-block+.textarea-block, /*pega um textarea que vem após outro text-area*/
#page-give-classes .select-block+.input-block{ /*pega um input-block que anterior a ele tem um select-block*/
    margin-top: 2.4rem;
}

@media screen and (min-width:700px){
    #page-give-classes #container{
        max-width: 100vw;
    }
}